<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="Gastón Zalba">
    <meta name="description" content="API que emula el funcionamiento de la calculadora online GEOIDE-AR 16 del IGN.">
    <meta name="keywords" content="geoid,geoidear,geoide-ar,IGN,POSGAR">
    <link rel="stylesheet" type="text/css" href="/static/style.css?v={{version}}" />
    <link rel="stylesheet" type="text/css" href="/static/fonts/style.css?v={{version}}" />
    <link rel="icon" type="image/png" href="/static/favicon.png" />

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
    <title>geoidear</title>
</head>

<body>
    <header>
        <h1>geoidear <small>v{{version}}</small> </h1>
    </header>
    <div id="wrapper">
        <div id="content">
            <section class="intro">
                <p>
                    API implementada en Python que emula el funcionamiento de la <a target="_blank"
                        href="https://www.ign.gob.ar/NuestrasActividades/Geodesia/Geoide-Ar16/calculadora"
                        rel="noopener noreferrer">calculadora online GEOIDE-AR 16</a> del Intituto Geográfico Nacional
                    (IGN).
                    Esta aplicación surge ante la falta de una API oficial que permita hacer las conversiones
                    programáticamente sin utilizar el formulario online.
                </p>
                <br>
                <p><b>En esta interpretación se añade la posibilidad de:</b></p>
                <ul>
                    <li>convertir las coordenadas suministradas (EPSG:4326) a valores POSGAR07.</li>
                    <li>a partir de un tercer parámetro en cada entrada con la elevación, se obtiene como resultado la
                        diferencia de altura aplicada a ese valor. Si la elevación no es suministrada, se devuelve
                        simplemente
                        la diferencia entre la altura elipsoidal y la ortométrica en esas coordenadas.</li>
                    <li>diferentes modos de carga en el formulario pudiéndose separar los campos por espacios, tabs o
                        comas.</li>
                    <li>exportar el resultado directamente en un archivo CSV.</li>
                </ul>
            </section>
            <div class="boxes">
                <section id="formulario">
                    <div class="box">
                        <h2>Formulario</h2>
                        <form action="/convert" method="POST">
                            <div class="entry">
                                <div class="two">
                                    <label>Proyección de destino</label>
                                    <select name="epsg">
                                        <option value="EPSG:4326" selected>WGS 84 (4326)</option>
                                        <option value="EPSG:5343">POSGAR 2007 / Arg 1 (5343)</option>
                                        <option value="EPSG:5344">POSGAR 2007 / Arg 2 (5344)</option>
                                        <option value="EPSG:5345">POSGAR 2007 / Arg 3 (5345)</option>
                                        <option value="EPSG:5346">POSGAR 2007 / Arg 4 (5346)</option>
                                        <option value="EPSG:5347">POSGAR 2007 / Arg 5 (5347)</option>
                                        <option value="EPSG:5348">POSGAR 2007 / Arg 6 (5348)</option>
                                        <option value="EPSG:5349">POSGAR 2007 / Arg 7 (5349)</option>
                                    </select>
                                </div>
                                <div class="two">
                                    <label>Formato destino</label>
                                    <select name="responseType">
                                        <option value="json">JSON</option>
                                        <option value="text" selected>Texto</option>
                                        <option value="csv">CSV</option>
                                    </select>
                                </div>
                            </div>
                            <div class="entry">
                                <label>Las coordenadas deben estar en EPSG:4326</label>
                                <textarea name="data" rows="10" cols="50"
                                    placeholder="Latitud Longitud Elevación (opcional)"></textarea>
                                <div>
                                    <input type="button" value="Ver ejemplo" id="fillExample">
                                    <input type="button" value="Limpiar" id="cleanForm">
                                </div>
                            </div>
                            <div class="entry">
                                <input type="submit" value="Procesar" name="submitForm">
                            </div>
                            <div class="entry">
                                <label>Resultado</label><button id="copyValues" title="Copiar al portapeles"><span
                                        class="icon-content_copy"></span></button>
                                <pre id="results">Nada para mostrar</pre>
                            </div>
                        </form>
                    </div>
                </section>
                <section id="api">
                    <div class="box">
                        <h2>API</h2>
                        <p><b><code class="bigger">/convert</code></b> - POST</p>
                        </p>Parámetros:</p>
                        <ul>
                            <li><code>data</code> - [ latitud - longitud - elevación (opcional) ] EPSG:4326
                                <ul>
                                    <li><code>[[-35.406613, -60.772444], [-37.875285, -62.885637, 8]]</code> - arrays en
                                        JSON</li>
                                    <li>
                                        <code
                                            class="tabbed">-35.406613    -60.772444<br>-37.875285    -62.885637    8</code>
                                        - texto con espacios
                                    </li>
                                    <li>
                                        <code class="tabbed">-35.406613, -60.772444<br>-37.875285, -62.885637, 8</code>
                                        - texto con comas
                                    </li>
                                </ul>
                            </li>
                            <li><code>epsg</code> (opcional) - proyección de destino
                                <ul>
                                    <li><code>EPSG:4326</code> (por defecto)</li>
                                    <li><code>EPSG:5343</code></li>
                                    <li><code>EPSG:5344</code></li>
                                    <li><code>EPSG:5345</code></li>
                                    <li><code>EPSG:5346</code></li>
                                    <li><code>EPSG:5347</code></li>
                                    <li><code>EPSG:5348</code></li>
                                    <li><code>EPSG:5349</code></li>
                                </ul>
                            </li>
                            <li><code>formatType</code>(opcional) - formato de destino
                                <ul>
                                    <li><code>json</code> (por defecto)</li>
                                    <li><code>text</code></li>
                                    <li><code>csv</code></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </section>

            </div>
        </div>

    </div>

    <footer>
        <a href="https://github.com/GastonZalba/geoidear">Ver repositorio en GitHub</a> - Gastón Zalba
    </footer>
    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>

</html>